body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.head_hero {
  font-family: "Gugi";
  font-style: normal;
  font-weight: 800;
  background: linear-gradient(
    180deg,
    #ffffff 27.15%,
    rgba(19, 80, 234, 0.23) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-clip: text; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
